html ,body{
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.main-content{
    text-align: center;
}
h1{
    color: black;
    text-align: center;

}

.custom {
    width: 178px !important;
}

.back{
  position: fixed;
  bottom: 13px;
  left: 13px;
  width: 112px;
  text-align: center;
}
.forward{
  position: fixed;
  bottom: 13px;
  right: 13px;
  width: 112px;
  text-align: center;
}
.backReview{
  position: fixed;
  bottom: 13px;
  left: 13px;
  margin-left: 1px;
  width: 112px;
  text-align: center;
}
.forwardReview{
  position: fixed;
  bottom: 13px;
  right: 13px;
  margin-left: 110px;
  width: 112px;
  text-align: center;
}


#sleep{
  font-size: 30px;

}

#mytitle{
  text-align: center;

}


#Labell {
  font-size: 32px;
  display: white;
  color: white;
}
#sleep{
  font-size: 32px;
  display: white;
  color: white;
}

body{
  background-color: #0E7C7B;

}


#hours
{
  position: absolute;
  right: 8px;
  font-size: 20px;
}

p {
    font-size: 20px;
    color: #ffffff;
}
select {
  position: absolute;
  right: 80px;
  font-size: 20px;

}
